/* You can add global styles to this file, and also import other style files */
.bordered{
    border: 3px solid black;
}
.main{
    height:900px;
}
.board{
        background-color: bisque;
    height: 100%;
    width: 100%;
}